language: scala

scala:
  - 2.11.8
  - 2.12.6

jdk:
  - oraclejdk8
sudo: required

cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt/boot"

services:
  - docker

script:
  - sbt ++$TRAVIS_SCALA_VERSION unitTesting/publishLocal
  - sbt ++$TRAVIS_SCALA_VERSION itTesting/publishLocal
  - sbt ++$TRAVIS_SCALA_VERSION coreTest macrosTest
  - sbt ++$TRAVIS_SCALA_VERSION urlTest
  - sbt ++$TRAVIS_SCALA_VERSION urlHttp/publishLocal
  - sbt ++$TRAVIS_SCALA_VERSION asyncTest akkaTest
  
after_success:
 - bash <(curl -s https://codecov.io/bash)
