language: scala

sudo: required

jdk:
  - oraclejdk8

services:
  - docker

cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot"

before_install:
  - |
    if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then
      openssl aes-256-cbc -K $encrypted_aaa7ed714ca2_key -iv $encrypted_aaa7ed714ca2_iv -in secrets.tar.enc -out secrets.tar -d
      tar xvf secrets.tar
      chmod 777 scripts/publish.sh
    fi

jobs:
  include:
    - stage: test
      script: sbt ++2.11.8 coreTest macroTest akkaTest ahcTest urlTest
      name: "Running test on scala 2.11.8"
    - script: sbt ++2.12.7 coreTest macroTest akkaTest ahcTest urlTest
      name: "Running test on scala 2.12.7"
    - stage: deploy
      script: ./scripts/publish.sh

stages:
  - name: test
  - name: deploy
    if: branch = master AND type = push

env:
  global:
  - secure: eQb2hjfBI8JTWgKgk7SQSY/ap7ZAOeHKxcmFT08sGuu85rnEHf5OCSpZdCmbmB4Ct5mt8k2rhULGw8z5XWtmE8aoXZ0jPEl9ny9EMN0chSaBpmrr0lEJqIO7Hy/IpfvHKU48+bxh/+D/zO2jWKfzh1x+oDZES6e6SCqo5b6lrA3X0k1foJE/PzBXIa06Zntzyq2B8zfdmgSNKf76ByV1K3kAF6ohVM3bNnCFw9AsGBSfHQ/RCNNarlzZO8ZIpadHayY/Xl6faTtKwGSByfDoo67gbFFkE3FLb3Wh0aj1cyJ4eeI5VQL0D4Rrf6hMjX3X1tHe7brFpgZp9qciEY/MAD43RqYjXTnl8GNrYRqG0ytEEP/udN/b9CKd5/m9cmvxL2U1S1qwu+OXl6h8ICcfwiGijb4pkOG88b2SuUSQLx0luCJ6PuOl5ExEwiTjwuTJQnhkYfAMZu1SEowfCnFDynsVDPDs6/uXoQvm/CXsCtc38qH8xFEpli8XA5R6ihQgFljK7D5oAyyVFQk+RbH/lyzHTnmjSucvsAziNvFXpV0bPO0Mv2Imn+EoDrvnEUKFlz3YxUfVcCx+TgFkDIuJnJhTU5Uou/OOQrq6Zc5AiyAflMJ5k9EqcU1l2SdzN2tvyrHAZabrMELtS9b2qP6XynefSBoAlFecbmO76rpfmZo=
  - secure: pQlGxYBXQdwTuQm5wjcScUCT2UhPH1iR4axze+C8tGN8Loz2BXkTRkEo4zAz4OpLfqI4iET+G8wQVtxhUzuWBsSBryAID5ZeLvJ6gzWk/jJWGehqUE5v+cvCbgxzrkW11VUigTj7Yd9g0VJPilYHT2sqv16ZLzhn+v+v+lS0goTeKxeokfJN3v23HFdJbffUxrRpETi2HPhNG8M/62+0Gmiap90LaCaUGUS4F7HwKJ1ZHOHthi9naQd/rPv9c3y+aWuSqlar7XuhhagTcuXZ5dbc3LukdHjOOWDTclzKgcp9qYSWo9+hLp81cW9Sg4hsA9gvzZiWQmOrVsszlSLRg7ryv1E7CIXst6mLuhqtjBFoKWE0qCwpZWNTVrYX/quPUMFSUQWMAp0nIsWeP+6x75iZwS8OLixnOh/k55JK1zhOIYcascb3N6iU8zEWA4j2tkY8rjvXcTUu5VkCZkIZ3uRxmbLq6KZvdxjQj5TkVWbEnUmk7k1ZnSuiyzOC07xI6M/Cn39uMamfzgc+nw19/+kPiCyHr20pk4cbwS1r+ToH4+9hc0Dp12Qv2Uj2zMM0jL+V+HhWRr5J1qDlHT/MWO7dOLHK5Qhno6ES8/QNFBaoYwgWUg1UMrkupxqailNoT4DYpG8b9CmNTmjTe3xVOfyJJo6vYpqGpUfilgEWsT0=
  - secure: tCOynwiQmE/u9/qfAh9L6TgFmIwSlTERpZ8eqcEY4BXDarjzn8tVoYtMT4o/YRggF0sZ3UbhzM7okxyEvkFgX1DQ3t4b1KwambChPwX5HxlanHBBmRp0KqUWdMHrkacOYZwNKKZ1j7p07ZNvXssVdWq3Iuk/rYv0EFNOkiKuMzQe2FbuIPz4o+9fikHlNDSVFnl4zM9fwSqI3kXD0DOSzQzTPSQ/X09hhHWdK1rTUhdrRoMHGr0L7bzgmot3bNIfB9pkOOyh0CKcCg+Q57FOtYLfiTijwCQAfXi+f8MawwB9qwFMQlk1Jivs5Q9+St4AaE9InYxW17H2hIK9mZgGv3HysAzYqVRH1TkkRCZUKzAjYW8qnPkOEWyeeXBQbkYRrdBy3+p+Sx4crvtWogsnSJ2yBgQpFMJGLY+zO9ihTD3DF35DH+mO1Dn3DNpf9ltJk99foj6+JlIbuPWfrcA/NMjFx3WUGN5kYcP/XcVLvvRnQgUdHt0GrA6nMl6+mJ/IIOurQGKvbfOSbS1aH6HlOrfymM4r6niwvmRVT2Zl1Ybj/OL16le+8YYVmyugfMbmgTs3aooeZD8SE5USsC/P96zRJrk0cWdArKBrOlzJm1pZEYOk7HkDv7d9o9TsZ3sX0C9PTNfEWjTN61hqXDvWRGoCb9t3HJN+qxiCzRaW3Is=
