language: scala

scala:
  - 2.11.8
  - 2.12.6

jdk:
  - oraclejdk8

sudo: required

services:
  - docker

script:
  - sbt ++$TRAVIS_SCALA_VERSION itTesting/publishLocal
  - sbt ++$TRAVIS_SCALA_VERSION unitTesting/publishLocal
  - sbt ++$TRAVIS_SCALA_VERSION coreTest macrosTest asyncTest udpTest urlTest akkaTest
  
after_success:
 - bash <(curl -s https://codecov.io/bash)
